nav {
    background-color: #3d3d3d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

  footer {
    background-color: #3d3d3d;
    color: white;
    padding: 20px;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
  }

  img.tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text {
    text-align: center;
  }

  